<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/main.css">
    <title>Menu css</title>
</head>
<body>
    <nav class="nav">
        <div class="nav__container">
            <div class="nav__container">
                <h1 class="nav__logo">HobbyLayer</h1>
            
                <label for="menu" class="nav__label" >
                    <img 
                        alt="icon menu" 
                        class="nav__img"
                        src="./assets/menu-icon.svg" 
                        />
                </label>
                <input 
                    class="nav__input" 
                    id="menu" 
                    type="checkbox" 
                  />
            
                <div class="nav__menu">
                    <a href="#" class="nav__item">Home</a>
                    <a href="#" class="nav__item">About</a>
                    <a href="#" class="nav__item">Contact</a>
                 </div>

            </div>
        </div>
    </nav>
</body>
</html>